body{
    margin: 0%;
    padding: 0%;
}
header{
  position: sticky;
  top: 0;
  z-index: 1;

}
.sticky{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0%;
  }

.logo{
    padding: 0 40px;
}
.but{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;

    margin-left: 20px;
    padding-left: 500px;
    font-size: 18px;
}

.but li a{
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: medium;
}

.button{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
}
.button .login{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 700;
    }
}
.button .signup{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(24, 8, 243);
    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
}
.home{
  background-image:url("../images/background.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
  justify-content: center;
  min-height: 100vh;
}
.opa{
  background: rgba(0, 0, 0, 0.6);
}
.split{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}
.left{ 
  flex:3;
  font-weight: 700;
  background-attachment: fixed;
  font-size: 25px;
  padding: 70px 0px 0px 40px;
}
.color h1{
  color: rgb(255, 255, 255);
}
.color p{
  color: rgb(172, 167, 167);
  font-size: 20px;
}
.log{
  border-radius: 15px;
  padding: 12px 30px 12px 30px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  margin-right: 15px;
}
.log a{
  color: #000;
  font-weight: 700;
  font-size: 15px;

}
.right{
  flex:5;
  font-weight: 700;
  justify-content: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: rgb(199, 221, 102);
  padding: 250px 0px 0px 40px;
}
.right div{
  display: flex;
  gap: 30px;
  justify-content: center;
  }
  .bag{
   background-color: #9bce8f;
  }
  .moto{
    background-color: rgba(16, 44, 39, 0.925);
    padding: 100px 460px 100px 460px;
    font-size: 7vh;
    font-weight: 800px;
  }
  .linee{
  height: 1px;
  background: #665656;
  width: 100%;
  margin-top: 60px;
  }
  .red{
    color: #a01b5e;
  }
  .co{
    color: #f18e0b;
    }
  .col{
    color: #43afaa;
  }
.colo{
      color: #1fad1f;
}
  
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 4rem;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: 1.5px solid #3639e7;
  border-radius:;
  background-color: rgb(201, 229, 236);
  box-shadow: 0.2px 5px rgba(214, 199, 199, 0.3);
  padding: 0;
  .sect{
    background: rgb(25, 53, 175);
    border: #3639e7 1px solid;
  }

  h2{
    padding: 1rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  #bord{
    border: #233021 2px solid;
  }
}
#dot{
  display: flex;
  align-items: center;
  padding: 50px 80px;
  justify-content: space-between;
  align-items: center;
}
.stat{
  width: 60%;
}
.dot.h1{
  font-size: 28px;
  margin-bottom: 10px;
}
.dot.p{
  color:#555 ;
}
.stat{
  width: 30%;
  text-align: center;
}
.line{
  height: 1px;
  background: #665656;
  width: 100%;
}
#club{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  button{
    padding: 0.5rem 2rem;
  }
  a{
    text-decoration: none;   
    color: #333; 
    font-size: 1rem;
    font-weight: 600;
  }
}
.reason{
  display: grid;
  grid-template-columns: repeat(4, 287px);
   gap: 1rem;
   position: relative;
}

.marg{
    margin-bottom: 80px;
    font-size: 30px; 
}
.reason .bord{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #3639e7;
  border-radius: 10px;
}
.bord img{
  object-fit: cover;
  margin: 0 2px;
  padding: 0;
  border-radius: 10px;
}
.bord h3,p{
  padding: 0 10px;
}
.testimonial{
  border: #a01b5e 1px solid;
  background-color: #a01b5e;
}
.testimonial h1{
  padding: 2rem 0 0 15rem;
}
.testimony{
  display:flex ;
  flex-direction: row;
  padding: 2rem 4rem 4rem 4rem;
  gap: 25px;
}
#bold{
  font-weight: bold;
}
.testimony p{
  background-color: #edf0ec;
  border: #233021 2px solid;
  border-radius: 20px;
  box-shadow: 0.4px 10px 10px 0.4px rgba(0, 0, 0, 0.3);
  padding: 35px;
}
footer{
  background-color: #233021;
  color: #ccc6c6;
  padding-top: 50px;
}
.foot{
  padding: 0 20px 50px 70px;
}
.ftop{
  display: flex;
  flex-direction: row;
   gap: 100px;
}
.ftop .leftt{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.ftop .center ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: medium;
  font-weight: 800;
}
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
.fbottom{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25rem;
  margin-top :50px;
}
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-icons img{
  width: 30px;
  height: 30px;

}
.sectf{
  padding: 50px 80px;
} 